*{
    margin:0;
    padding: 0;
    font-family: "leaguegothic";
}
@font-face {
    font-family: 'leaguegothic';
    src: url(../fonts/leaguegothic-regular-webfont.eot);
    src: url(../fonts/leaguegothic-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/leaguegothic-regular-webfont.woff2) format('woff2'),
         url(../fonts/leaguegothic-regular-webfont.woff) format('woff'),
         url(../fonts/leaguegothic-regular-webfont.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
.clearfix{
    display: table;
    content: '/';
    clear: both;
}
body{
    background-color: #734f81;
}
header{
    position: relative;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:845px;
}
.header_top_menu, .slider{
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    }
.header_top_menu{
    height:280px;
    padding-top:2%;
}
.top_menu_bg{
    background-color: rgba(255, 255, 255, 0.5);
    }
.slider_bg{
    background-color:rgba(0, 0, 0, 0.2);
}
.menu{
    list-style: none;
}
.head_logo{
    display: block;
    margin-right:20%;
    float: left;
}
.header_menu{
    overflow: hidden;
}
.header_menu .menutext{
    display: inline-block;
    padding: 3% 3px;
    margin-left: 34px;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    float: left;
}
.header_menu .menutext:hover{
    border-bottom: 2px solid #edbfff;
}

.slider_bg{
    position: relative;
    height: 400px;
}
.slider *{
    display: inline-block;
    vertical-align: middle;
    color:white;
}
.slider_text{
    max-width: 510px;
    margin-right:190px;
}
.slider_img{
    margin-top:-20px;
    position: relative;
    }
.play_img{
    position: absolute;
    top:34%;
    right:28%;
    z-index:2;
}
.slider_p{
    font-size:18px;
    }

.slider_header1{
    font-size: 60px;
}
.slider_header2{
    font-size: 32px;
    color: #edbfff;
}
.slider_back_img{
    position: absolute;
    left:-75px;
    top: 70px;
    }
.slider_face_img{
    position: inherit;
    z-index:2;
}
.slider_arrow{
    position: absolute;
    margin:0 auto;
    }
.left_arrow{
    position: absolute;
    top: 50%;
    left:-290px;
}
.right_arrow{
    position: absolute;
    top: 50%;
    right:-290px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    }

.slider_round{
    display: inline-block;
    margin-left:5px;
    height:14px;
    width:14px;
    background-color: rgba( 0, 0, 0, 0.5);
    border:2px solid rgba( 0, 0, 0, 0.5);
    border-radius: 15px;
    }
.slider_round_box{
    position: absolute;
    bottom: -24%;
    right: 49%; 
}

.about_bg{
    height: 390px;
    background-image: linear-gradient(to bottom, #745083 0%,#322539 100%);
}
.about{
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    color:white;
}
.about_box{
    position: relative;
    width: 280px;
    height: 190px;
    padding-left: 50px;
    box-sizing: border-box;
    float:left;
    overflow: hidden;
}
.about_img{
    position: absolute;
    top: 0;
    left: 0;
}
.about_header{
        font-size: 30px;
    }
.about_p{
    max-width: 225px;
    font-size: 16px;
}