* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", sans-serif;
    font-size: 12px;
}

a{
    text-decoration: none;
}
.clearfix{
    display: table;
    content: '';
    clear: both;
}
/*header menu*/
header{
    max-width: 909px;
    height: 34px;
    margin: 17px 0 0 0;
}
header *{
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}
/*phones*/
.phones p{
    height:20px;
    line-height: 20px;
}
.phone_icon{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-image: linear-gradient( 90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
}
/*phones*/

/*login*/
.login{
    height: 24px;
    max-width: 493px;
    padding: 0 5px;
    margin: 0 17px;
    background-color: antiquewhite;
    vertical-align: middle;
    background-image: linear-gradient(to bottom, #1f6787 0%,#0d3458 100%);
    border-radius: 3px;
}
.login input{
    max-width: 113px;
    font-size: 11px;
    font-family: "Lucida Sans";
    border: 0;
}
#button_login{
   color: white;
   background-color: rgba(255,255,255,0);
   text-decoration: underline;
}
.login a{
    font-size: 12px;
    color: #bfbfbf;
    text-decoration: underline;
}
/*login*/

nav{
    height: 19px;
    border: 1px solid #c0c7c9;
    border-radius: 19px;    
}
nav a{
    margin-top: -9px;
    padding: 0 2px;
    text-decoration: underline;
}
/*header menu*/
/*main menu*/
.top_menu{
    margin: 0 50px;
}
.top_menu li{
    line-height: 26px;
    font-size: 13px;
    
    
}
.top_menu a{
    display: inline-block;
    height: 27px;
    padding: 0 17px;
    color: #838b8f;
    font-size: 13px;
    
}
.top_menu a:hover{
    color: white;
    font-size: 13px;
    background-image: linear-gradient(to bottom, #25617b 0%,#0c3357 100%);
    border-radius: 27px;
}
#shop_cart *{
    line-height: 33px;
}
#shop_cart{
    color: #838b8f;
    font-size: 11px;
}
#shop_cart span{
    font-size: 12px;
    color: #0e5383;
    }
.main_menu{
    height: 33px;
    width: 100%;
    max-width: 908px;
    margin-top:-3px;
    background-image: linear-gradient(to bottom, #3a4046 0%,black 100%);
    border-radius: 4px;
}
.main_menu *{
    display: inline-block;
    vertical-align: middle;
}
  /*main menu*/

/*main select*/

.search_header{
    position: absolute;
    top:auto;
    }

#search_button{
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.car_select, .tire_select, .disk_select{
    position: relative;
    height: 133px;
    margin: 10px 13px 16px 0;
    border: 1px solid #b0b0b1;
    border-radius: 26px;
    font-size: 11px;
    float: left;
}
.car_select section, .tire_select section, .disk_select section{
    display: inline-block;
    max-width: 180px;
    margin-top: 10px;
    float: left;
}
/*all select*/
.dropdown{
    height: 16px;
    margin: 6px;
    border-top:1px;
    border-right: 1px;
    border-bottom: 0;
    border-left: 0;
    border-style: solid;
    border-color: #949494;
    list-style: none;
    display: block;
    overflow: hidden;
}

.search_menu_text{
    margin:10px;
    height: 17px;
    max-width: 72px;
    font-size: 10px;
    list-style: none;
}
.search_menu_text span{
    font-size: 10px;
    }
/*all select*/
/*car select*/
/*header car select*/
#center{ 
    left: 40%;
 }
#disk{
    position:absolute;
    left: 5%;
}
#tire{
    position: absolute;
    right: 5%;
}
/*header car select*/
/*style car select*/
.car_select{
    width: 412px;
    }
#search_car_disk_text, {
    margin-left: 14px;
    }
#search_car_disk_drop .dropdown, #search_car_tire_drop .dropdown{
    width: 100px;
    }


#search_car_disk_drop .year, #search_car_tire_drop .year{
    width: 55px;
}
/*style car select*/

/*tireselect*/
.tire_select{
    width: 190px;
}
.tire_select .dropdown{
    width:50px;
}
/*tireselect*/

.disk_select{
    width: 264px;
}
#search_tire_drop{
    width: 60px;
}
#search_tire_drop span{
    font-size: 12px;
}
.tire_chk{
    height: 15px;
}
#tire_chk_top{
    margin-top: 7px;
}
#tire_text{
    margin-top: -2px;
}
#tire_text_bot{
    margin-top:-9px;
}