* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", sans-serif;
    font-size: 12px;
}

a{
    text-decoration: none;
}
.clearfix{
    display: table;
    content: '';
    clear: both;
}
body{
    margin: 14px auto 0;
    max-width: 911px;
}
/*header menu*/
header{
    max-width: 909px;
    height: 34px;
    margin: 14px 0 0 0;
    padding-left:9px;
}
header *{
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
}
/*phones*/
.phones p{
    height: 20px;
    line-height: 24px;
    font-family: "Arial";
}
.phone_icon{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-image: linear-gradient( 90deg, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
}
/*phones*/

main{
    margin-top:2px;
}
/*login*/
.login{
    height: 26px;
    width: 484px;
    padding: 0 5px;
    margin: 0 14px;
    background-color: antiquewhite;
    vertical-align: middle;
    background-image: linear-gradient(to bottom, #1f6787 0%,#0d3458 100%);
    border-radius: 3px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(104,104,104,1);
-moz-box-shadow: 3px 3px 3px 0px rgba(104,104,104,1);
box-shadow: 3px 3px 3px 0px rgba(104,104,104,1);
}
.login input{
    max-width: 113px;
    height: 16px;
    padding-left: 1px;
    font-size: 10px;
    font-family: "Lucida Sans";
    border: 0;
}
#button_login{
   color: white;
   background-color: rgba(255,255,255,0);
   text-decoration: underline;
   font-family: "Lucida Sans";
}
.login a{
    font-size: 12px;
    color: #bfbfbf;
    text-decoration: underline;
    margin-left:37px;
}
/*login*/

nav{
    height: 19px;
    width: 68px;
    border: 1px solid #c0c7c9;
    border-radius: 19px;
    padding: 0 0 0 6px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(104,104,104,1);
-moz-box-shadow: 1px 1px 1px 0px rgba(104,104,104,1);
box-shadow: 1px 1px 1px 0px rgba(104,104,104,1);
}
nav a{
    margin-top: -14px;
    padding: 1px 0px 0 2px;
    text-decoration: underline;
}
/*header menu*/
/*main menu*/
.top_menu{
    margin: 0 45px 0 130px;
}
.top_menu li{
    line-height: 26px;
    font-size: 14px;
    
    
}
.top_menu a{
    display: inline-block;
    height: 27px;
    padding: 0 16px;
    color: #838b8f;
    font-size: 13px;
    
}
.top_menu a:hover{
    color: white;
    font-size: 13px;
    background-image: linear-gradient(to bottom, #25617b 0%,#0c3357 100%);
    border-radius: 27px;
}
#shop_cart *{
    line-height: 33px;
}
#shop_cart{
    color: #838b8f;
    font-size: 11px;
}
#shop_cart span{
    padding-left: 3px;
    font-size: 12px;
    color: #0e5383;
    }
.main_menu{
    height: 33px;
    width: 100%;
    max-width: 910px;
    margin-top:3px;
    background-image: linear-gradient(to bottom, #3a4046 0%,black 100%);
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(104,104,104,1);
-moz-box-shadow: 3px 3px 3px 0px rgba(104,104,104,1);
box-shadow: 3px 3px 3px 0px rgba(104,104,104,1);
}
.main_menu *{
    display: inline-block;
    vertical-align: middle;
}
  /*main menu*/

/*main select*/

.search_header{
    position: absolute;
    font-family: "Arial";
    font-weight: 900;
    color:#154468;
    }
.main_select span{
    color: grey;
}
#search_button{
    position: absolute;
    bottom: 9px;
    right: 17px;
    border: none;
    background: none;
    font-style: italic;
    font-size: 14px;
    color: #154467;
    text-decoration: underline;
}

.car_select, .tire_select, .disk_select{
    position: relative;
    height: 133px;
    margin: 10px 13px 11px 0;
    border: 1px solid #b0b0b1;
    border-radius: 19px;
    font-size: 11px;
    float: left;
    
}

.car_select section, .tire_select section, .disk_select section, .car_select form, .tire_select form, .disk_select form{
    display: inline;
    max-width: 100px;
    margin-top: 20px;
    float: left;
}
.car_select form, .tire_select form, .disk_select form{
    margin-top: 13px;
}
.car_select section, .tire_select section, .disk_select section{
    margin-left:18px;
}
.car_select h2, .tire_select h2, .disk_select h2{
    font-size: 11px;
    font-family: "Arial";
    font-weight: 900;
}
.car_select form{
    margin-right: 16px;
}
/*all select*/
.dropdown{
    height: 16px;
    margin: 6px 18px 6px 0;
    border-top: 2px;
    border-right: 0px;
    border-bottom: 0;
    border-left: 2px;
    border-style: solid;
    border-color: #949494;
    background: url(../img/icon/menu_pointer.png) no-repeat right center;
    display: block;
    }


.search_menu_text{
    max-width: 72px;
    font-size: 10px;
    list-style: none;
}
#oneraw{
    padding-top: 2px;
    height: 19px;
    line-height: 17px;
}
#tworaw{
    height: 12px;
    padding-top: 0px;
    line-height: 8px;
    margin-top: 1px;
    margin-bottom: 9px;
    }
.search_menu_text span{
    font-size: 10px;
    }
/*all select*/
/*car select*/

/*tire_select*/
#hor{
    display: inline-block;
}
/*header car select*/
#center{ 
    top: -2px;
    left: 125px;
 }
#disk{
    top: 2px;
    left: 20px;
    font-size: 10px;
}
#tire{
    top: -2px;
    right: 19px;
    }
#left{
    left: 9px;
    top: 1px;
    font-size: 13px;
}
/*header car select*/
/*style car select*/
.car_select{
    width: 413px;
    margin: 13px 14px 0 4px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(104,104,104,1);
-moz-box-shadow: 5px 5px 5px 0px rgba(104,104,104,1);
box-shadow: 5px 5px 5px 0px rgba(104,104,104,1);
    }
#search_car_disk_text, {
    margin-left: 14px;
    }
#search_car_disk_drop .dropdown, #search_car_tire_drop .dropdown{
    width: 104px;
    }
#search_car_disk_drop .year, #search_car_tire_drop .year{
    width: 55px;
}
/*style car select*/

/*tireselect*/
.tire_select{
    width: 191px;
    height: 129px;
    margin-top: 12px;
    padding-top: 6px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(150,150,150,1);
-moz-box-shadow: 5px 5px 5px 0px rgba(150,150,150,1);
box-shadow: 5px 5px 5px 0px rgba(150,150,150,1);
}
.tire_select .dropdown{
    width:50px;
}
/*tireselect*/
#search_tire_drop{
    max-width: 150px;
}
#search_tire_drop .dropdown{
    margin: 3px 2px 5px;
}
#search_tire_text #f_raw{
    margin: 3px -6px;
    height: 14px;
}
#search_tire_text #s_raw{
    text-align: right;
    margin: 8px 5px 6px 0px;
}
#search_tire_text #t_raw{
       margin: 6px 10px 0 -4px;
}
#search_tire_drop span{
    font-size: 12px;
}
.tire_chk{
    height: 14px;
    }
.tire_chk input{
    height: 12px;
    }
#tire_chk_top{
    margin-top: 7px;
}
#tire_chk input{
    height:12px;
}
#tire_text{
    margin-top: 2px;
}
#tire_text_bot{
    margin-top:-9px;
}

.disk_select{
    width: 267px;
    margin: 11px 3px 0 -4px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(150,150,150,1);
-moz-box-shadow: 5px 5px 5px 0px rgba(150,150,150,1);
box-shadow: 5px 5px 5px 0px rgba(150,150,150,1);
}
.disk_select .dropdown{
    width: 50px;
    margin: 9px 0 15px 18px;
}
#search_disk_et{
    margin-top: 5px;
    border-left: 1px solid #bdc6ca;
    padding-left: 10px;
}
#search_disk_et .search_menu_text{
    line-height: 9px;
}
#search_disk_et .dropdown{
    margin: 3px 0 8px 1px;
    width: 58px;
}
#search_disk_et .dropdown:last-child{
    margin-bottom: 0;
}

#search_disk_text .search_menu_text{
    margin: 5px 0 7px;
    line-height: 9px;
}
/*aside*/
.left, .right {
    height: 525px;
    width: 181px;
    float: left;
}
.right input, .right p{
    display: inline;
}
.left{
    padding-top: 3px;
}
.right form{
    padding-top: 8px;
}
/*aside*/



.goods{
    width: 524px;
    height: 628px;
    margin: 1px 10px 0 11px;
    background-image: linear-gradient(to bottom, #e5e7e8 0%,#93a7b0 100%);
    float: left;
    overflow: hidden;
}
.goods_inner{
    text-align: center;
    margin: 5px -7px 7px 4px;
    float: left;
}
.goods_name{
    margin: 12px 12px 3px 20px;
    line-height: 12px;
    color: #2e6f8c;
    font-size: 15px;
    font-weight: bold;
}    
.goods_price{
    margin: 4px 0 0 19px;
    font-size: 16px;
    font-family: "Arial";
    color: #114165;
    font-weight: bold;
    font-style: italic;
}
.goods_name span{
    font-size: 13px;
    color: black;
}
.goods_img{
        display: block;
    width: 136px;
    height: 127px;
    margin: 2px 13px 0px 19px;
    background-color: white;
    border: 1px solid #aab3b6;
    border-radius: 7px
}
.goods_inner img{
    margin: 4px 4px 0 0;
}

.aside_icon{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    text-align: center;
    background-image: linear-gradient(to bottom, #1f6786 0%,#0c3357 100%);
    border-radius: 21px;
    line-height: 25px;
}
.sidebar_header{
    height: 23px;
    max-width: 120px;
    padding: 2px 2px 2px 28px;
    border: 1px solid #8b979c;
    border-radius: 25px;
    line-height: 23px;
    position: relative;
    text-align: justify;
}

.h1shadow{
    height: 22px;
    max-width: 168px;
    margin: 3px 0 12px 0;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(104,104,104,1);
-moz-box-shadow: 1px 1px 1px 0px rgba(104,104,104,1);
box-shadow: 1px 1px 1px 0px rgba(104,104,104,1);
    }
.sidebar_list{
    line-height: 25px;
    height: 100px;
    padding-left: 0px;
    text-align: center;
    list-style: none;
    margin-bottom: -1px;
    color: #465961;
}
.sidebar_list li:hover{
    padding-left: 19px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #0c3256;
}
.sidebar_list li:hover .marker{
    background-color: #0c3256;
}

.right_h{
    width: 105px;
    margin: 3px 13px -3px;
}
.right .h1shadow{
    margin: 5px 0px 12px 0;
    width: 149px;
    line-height: 20px;
}

.chkbox_blue{
    height: 11px;
        margin: 3px 10px 12px 24px;
}
.right p{
    vertical-align: 1px;
}
.right_disk{
    margin-bottom: 6px;
}

#submit_right{
    height: 25px;
    width: 80px;
    margin: 9px 0 0 24px;
    color: white;
    background-image: linear-gradient(to bottom, #25617b 0%,#0c3357 100%);
    border-radius: 24px;
    border: none;
    }
.main_footer{
    position: relative;
    margin: 38px 0 24px;
}
.footer_pages{
    position: absolute;
    left: 393px;
    top: 10px;
    font-family: "Arial";
    font-size: 12px;
    font-weight: bold;
}
.footer_pages a{
    text-align: center;
    color:#465961;
    z-index: 3;
}
.tires_logo_footer{
    text-align: center;
    margin: -1px 0 0 0px;
    z-index: 2;
}
.tires_logo_footer img{
    margin: 0 5px;
}

footer{
    height:100px;
    text-align: center;
    background-color: #213a4d;
}
footer a{
    display: inline-block;
    margin: 12px 0 18px; 
    padding: 0 12px;
    border-left: 2px solid #8d989f;
    color: white;
}
footer a:hover{
    color: #52abcb;
}
footer a:first-child {
    border: none;
}
footer p{
    font-size: 10px;
    line-height: 2px;
    color: #7f4740;
    font-family: "Arial";
}
/*marker*/
.round {
    position: absolute;
    top: 2px;
    left: 5px;
    max-height: 22px;
    padding: 5px;
    background-color: #114165;
    border-radius: 21px;
}

.round_in{
   position: relative;
    height: 12px;
    width: 12px;
    background-color: white;
    border-radius: 11px;
}
.marker{
    display: inline-block;
    max-width: 6px
    max-height: 6px;
    margin: 3px;
    padding: 2px;
    background-color: #79878d;
    border-radius: 6px;
}
.marker_in{
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: white;
    
}
/*marker*/